<!doctype html>
<html>
    <head>
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

        <title><%= current_page.data.title || "MSA" %></title>

        <%= stylesheet_link_tag :sidemenu %>
        <%= stylesheet_link_tag :site %>        
    </head>

    <body class="<%= page_classes %>">

        <div id="layout">
            <a href="#menu" id="menuLink" class="menu-link">
                <!-- Menu toggle -->
                <span></span>
                <!-- Hamburger icon -->
            </a>

            <div id="menu">
                <div class="pure-menu">
                    <a class="pure-menu-heading" href="/">The MSA</a>

                    <ul class="pure-menu-list">

                        <li class="pure-menu-item">
                            <a href="/" class="pure-menu-link">Homepage</a>
                        </li>

                        <li class="pure-menu-item">
                            <a href="/standard" class="pure-menu-link">The Standard</a>
                        </li>

                        <li class="pure-menu-item">
                            <a href="/templates" class="pure-menu-link">The Templates</a>
                        </li>

                        <li class="pure-menu-item menu-item-divided "></li>

                        <li class="pure-menu-item">
                            <a href="/microservices/" class="pure-menu-item">The Microservices</a>
                        </li>

                        <% data.microservices.microservices.slice(0,10).each do |ms| %>
                            <li class="pure-menu-item">
                                <a href="<%= ms.url %>" class="pure-menu-link"><%= ms.name %></a>
                            </li>
                        <% end %>

                        <li class="pure-menu-item menu-item-divided "></li>

                        <li class="pure-menu-item">
                            <a href="/contribute" class="pure-menu-link">Contribute</a>
                        </li>

                        <li class="pure-menu-item">
                            <a href="/faq" class="pure-menu-link">FAQ</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div id="main">

                <div class="header">
                    <h1><%= current_page.data.title%></h1>
                </div>

                <div class="content">
                    <%= yield %>
                </div>

            </div>
        </div>

        <%= javascript_include_tag :side_menu %>
    </body>
</html>
